<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", article_path(@article), data: {
                  turbo_action: "Destroy Comment",
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
</p>
<% end %>

