@import 'bootstrap/scss/bootstrap';

.navbar {

  background-color: black!important;
  
  }
  
  #logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  .nav-link{
    color: white!important;
  }
  
  .navbar-brand {
  
  font-size: 3rem;
  
  }
  
   
  
  h1 {
  
  color: red;
  
  }